@page "/Dashboard"
@using Agri_Cultured.Controllers;
@using Agri_Cultured.Models;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Components.Authorization;
@using MySql.Data.MySqlClient;
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager;
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime;
@using Controllers;
@using RestSharp;
@using Newtonsoft.Json;
@using System.Text.Json;

<PageTitle>Dashboard</PageTitle>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h3 style="color: #015249; text-shadow: 0px 2px 3px #015249; margin-right: 10px;">Plants Owned</h3>
    @*Add new plant button*@
    <div style="display: flex; justify-content: flex-end; flex-grow: 1;">
        <RadzenButton Icon="add" Click="(() => OpenCreatePlantDialog())" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" class="rz-border-radius-10 rz-shadow-10" />
    </div>
</div>


<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Gap="0">
    @foreach (PlantsHasUser a in field)
    {
        <RadzenCard Class="rz-my-12 rz-mx-auto" id="plantmenu" Style="width:88vw; height:485; padding-top:0px; background-image: linear-gradient(180deg, rgb(87, 188, 144) 0%, rgb(0119, 201, 212) 70%); color: #015249; text-shadow: 0px 2px 3px gray;">
            <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Gap="0.5rem" Style="padding-top:0px;" Class="rz-p-4">
                <RadzenStack Gap="0" Style="align-self:center;padding-top:0px !important;">
                    <RadzenText TextStyle="TextStyle.Overline" Style="color: white; text-shadow: 0px 2px 3px gray; font-size: 15px;" class="rz-display-flex rz-mt-2 rz-my-0;"><b>Plant</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" Style="color: white; text-shadow: 0px 1px 1px gray;"><b>@getplantname(a.PlantsPlantId)<br>@a.Description</b></RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0" Style="align-self:center">
                    <RadzenText TextStyle="TextStyle.Overline" Style="color: white; text-shadow: 0px 2px 3px gray; font-size: 15px;" class="rz-display-flex rz-mt-2 rz-my-0;"><b>Plant</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1" Style="color: white; text-shadow: 0px 1px 1px gray;"><b>@a.Weather <br>@a.Description</b></RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenCard class="rz-background-color-danger-lighter rz-shadow-0 rz-border-radius-0 rz-p-8" style="height:71%; width:100%; overflow-y: auto">
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeXS="2">
                        <RadzenRow>
                            <RadzenColumn>
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-mr-3" Style="color: #015249"><strong>Location</strong></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1" class="rz-mr-3" Style="color: white">@a.Location</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn>
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0 rz-mr-3" Style="color: #015249"><strong>Date Planted</strong></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1" class="rz-mr-3" Style="color: white">@a.DatePlanted</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn SizeXS="8" Style="width: 100%">
                        <MudPaper Width="100%" Style=" height: 165px;">
                            <MudList Clickable="true">
                                @*Menu*@
                                <MudListItem Icon="@Icons.Material.Filled.Agriculture" Text="Operations" Style="font-weight: bold" InitiallyExpanded="false">
                                    @*Dropdown*@
                                    <NestedList>
                                        <MudListItem OnClick="(()=>NavAsync(ArgiTaskHref,a.PlantsUserId))" Icon="@Icons.Material.Filled.TaskAlt" Style="font-weight: bold">
                                            Tasks
                                        </MudListItem>
                                        <MudListItem OnClick="(()=>NavAsync(FertHref,a.PlantsUserId))" Icon="@Icons.Material.Filled.Compost" Style="font-weight: bold">
                                            Fert/Pest
                                        </MudListItem>
                                        <MudListItem OnClick="(()=>NavAsync(IrrHref,a.PlantsUserId))" Icon="@Icons.Material.Filled.Bloodtype" Style="font-weight: bold">
                                          Irrigation
                                    </MudListItem>
                                </NestedList>
                            </MudListItem>
                                <MudListItem OnClick="(()=>NavAsync(EventHref,a.PlantsUserId))" Icon="@Icons.Material.Filled.Event"  Style="font-weight: bold">
                                Events
                            </MudListItem>
                            <MudListItem OnClick="(()=>NavAsync(ExpHref,a.PlantsUserId))" Icon="@Icons.Material.Filled.AreaChart"  Style="font-weight: bold">
                                Other Expenses
                            </MudListItem>
                                <MudListItem OnClick="(()=>NavAsync(IncHref,a.PlantsUserId))" Icon="@Icons.Material.Filled.AttachMoney"  Style="font-weight: bold">
                                Income
                            </MudListItem>
                        </MudList>
                    </MudPaper>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
            <div class="mt-2" >
                <RadzenButton Icon="delete" Click="(() => DeletePlant(a.PlantsUserId))" ButtonStyle="ButtonStyle.Danger" Disabled="true" /> @*Delete button REMOVE DISABLE!!!!*@
            </div>                        
        </RadzenCard>
    }
</RadzenRow>
<br />
<br />

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    //redirect links for buttons
    string ArgiTaskHref = "/Agriculturaltasks";     //done
    string FertHref = "/Fertilizer";                //done
    string IrrHref = "/Irrigation";                 //done
    string EventHref = "/Events";                   //done
    string ExpHref = "/Expenses";                   //done
    string IncHref = "/Income";                     //done

    string plantname;
    List<PlantsHasUser> field = new List<PlantsHasUser>();
    private string weatherData;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {

        var connnectionString = Configuration.GetConnectionString("DefaultConnection");

        MySql.Data.MySqlClient.MySqlConnection connection = new MySql.Data.MySqlClient.MySqlConnection(connnectionString);
        string sqlmyfields = "SELECT * FROM plants_has_user WHERE aspnetusers_Id = '" + await getUserId() + "'";
        using (MySql.Data.MySqlClient.MySqlCommand command = new MySql.Data.MySqlClient.MySqlCommand(sqlmyfields, connection))
        {
            connection.Open();
            MySql.Data.MySqlClient.MySqlCommand sqlcmd = new MySql.Data.MySqlClient.MySqlCommand(sqlmyfields, connection);
            sqlcmd.CommandText = sqlmyfields;
            sqlcmd.CommandType = System.Data.CommandType.Text;
            MySql.Data.MySqlClient.MySqlDataReader rdr = sqlcmd.ExecuteReader();
            while (rdr.Read())
            {
                PlantsHasUser plant = new PlantsHasUser();
                plant.PlantsUserId = (Int32)rdr["plants_user_Id"];
                plant.AspnetusersId = await getUserId();
                plant.PlantsPlantId = (Int32)rdr["plants_plant_Id"];
                plant.DatePlanted = DateOnly.FromDateTime((DateTime)rdr["date_planted"]);
                plant.Location = rdr["location"].ToString();
                plant.Weather = await getweather(plant.Location);
                plant.Description = rdr["description"].ToString();
                field.Add(plant);
            }
            rdr.Close();
            connection.Close();
        }

    }
    void DeletePlant(int plantid)
    {
        var connnectionString = Configuration.GetConnectionString("DefaultConnection");
        MySql.Data.MySqlClient.MySqlConnection connection = new MySql.Data.MySqlClient.MySqlConnection(connnectionString);
        string sqldeleteplant = "DELETE FROM plants_has_user WHERE plants_user_id = " + plantid;
        using (MySqlCommand command = new MySqlCommand(sqldeleteplant, connection))
        {
            //command.Parameters.AddWithValue("@plantId", plantid);
            connection.Open();
            command.ExecuteNonQuery();
            connection.Close();
        }
        NavigationManager.NavigateTo("/Dashboard", forceLoad: true); //refresh page to delete the item
    }

    void NavAsync(string href, int plantid)
    {
        // Attach the parameter to the url
        NavigationManager.NavigateTo(href + "/" + plantid);
    }

    async Task<string> getUserId()
    {
        return (await authenticationStateTask).User.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
    }

    //Create new plant dialog
    private void OpenCreatePlantDialog()
    {
        var options = new MudBlazor.DialogOptions { };
        var parameters = new DialogParameters();
        parameters.Add("JSRUNTIME", JSRuntime);
        DialogService.Show<PlantDialog>(" ", parameters ,options);
        HandleDialogOpen();
    }

    private void HandleDialogOpen()
    {
        // Add the CSS class to disable scrolling
        JSRuntimeExtensions.InvokeVoidAsync(JSRuntime,"addClassToHtml", "no-scroll");
    }
    private string getplantname(int plantid)
    {
        var connnectionString = Configuration.GetConnectionString("DefaultConnection");
        MySql.Data.MySqlClient.MySqlConnection connection = new MySql.Data.MySqlClient.MySqlConnection(connnectionString);
        string slqplantname = "SELECT plants.plant_name FROM plants WHERE plant_Id = '" + plantid + "'";
        using (MySql.Data.MySqlClient.MySqlCommand command = new MySql.Data.MySqlClient.MySqlCommand(slqplantname, connection))
        {
            connection.Open();
            MySql.Data.MySqlClient.MySqlCommand sqlcmd = new MySql.Data.MySqlClient.MySqlCommand(slqplantname, connection);
            sqlcmd.CommandText = slqplantname;
            sqlcmd.CommandType = System.Data.CommandType.Text;
            MySql.Data.MySqlClient.MySqlDataReader rdr = sqlcmd.ExecuteReader();
            while (rdr.Read())
            {
                plantname = rdr["plant_name"].ToString();
            }
            rdr.Close();
            connection.Close();
        }
        return plantname;
    }
    private async Task<string> getweather(string location)
    {
        string lon = "";
        string lat = "";
        List<string> LocationXY = new List<string>();
        LocationXY.Add("Attica:38.07568709809507,23.673109334822787");
        LocationXY.Add("Central Greece:38.63570676385782,22.45413309232338");
        LocationXY.Add("Central Macedonia:40.798876539070875,22.87369702319696");
        LocationXY.Add("Crete:35.18968554900035,25.001839666579578");
        LocationXY.Add("East Macedonia and Thrace:41.112521636537494,25.307941236463947");
        LocationXY.Add("Epirus:39.648065999220826,20.735634183699922");
        LocationXY.Add("Ionian Islands:38.80527603016909,20.665010468154655");
        LocationXY.Add("North Aegean:39.22310173317197,26.08447023944656");
        LocationXY.Add("Peloponnese:37.58718401231568,22.228931816422158");
        LocationXY.Add("South Aegean:37.106108505589,25.493401835102667");
        LocationXY.Add("Thessaly:39.646651366889316,21.96036354839707");
        LocationXY.Add("West Greece:38.19530903007895,21.790900191202333");
        LocationXY.Add("West Macedonia:40.43123939308935,21.485237920650242");

        foreach (string item in LocationXY)
        {
            if (item.Contains(location))
            {
                string[] split = item.Split(":");
                string[] split2 = split[1].Split(",");
                lat = split2[0];
                lon = split2[1];
            }
        }
        var WeatherAPI = Configuration.GetConnectionString("WeatherApi");
        string weather = WeatherAPI;
        string weathered = "";
        //var url = "https://api.openweathermap.org/data/3.0/onecall?lat=" + lat + "&lon=" + lon + "&exclude=minutely,hourly,daily,alerts&appid=8eb27a3bd3eabfb512a42893dbd595de";
        var url = "https://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + lon + "&appid=" + weather + "&units=metric";

        var client = new RestClient(url);
        var request = new RestRequest(url, Method.Get);
        RestResponse response = await client.ExecuteAsync(request);
        var Output = response.Content;
        string jsonString = response.Content;
        JsonDocument jsonDoc = JsonDocument.Parse(jsonString);
        string iconValue = jsonDoc.RootElement
        .GetProperty("weather")[0]
        .GetProperty("icon")
        .GetString();
        double tempValue = jsonDoc.RootElement
        .GetProperty("main")
        .GetProperty("temp")
        .GetDouble();
        weathered = tempValue.ToString() + "°C " + iconValue;
        return weathered;
    }
}