@page "/History"

<h3 style="color: #015249; text-shadow: 0px 2px 3px #015249; margin-right: 10px; margin-bottom: 50px;">Search/History</h3>

<MudTable Style="background-image: linear-gradient(180deg, rgb(0, 0, 50) 5%, rgb(102, 255, 178) 100%); color: white; text-shadow: 5px 0px 5px black;" Items="@Tasks" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Task,bool>(FilterFunc1)" @bind-SelectedItem="selectedTask">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Tasks</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString = "";
    private Task selectedTask = null;
    private HashSet<Task> selectedTasks = new HashSet<Task>();

    private IEnumerable<Task> Tasks = new List<Task>
    {
        new Task { Name = "Task 1" },
        new Task { Name = "Task 2" },
        new Task { Name = "Task 3" }
    };

    private bool FilterFunc1(Task task) => FilterFunc(task, searchString);

    private bool FilterFunc(Task task, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (task.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    public class Task
    {
        public string Name { get; set; }
    }
}

@*<MudItem xs="12" md="6">
    <MudText Typo="Typo.h6" GutterBottom="true">Search History</MudText>
    <MudPaper Width="100%" Style="background-image: linear-gradient(180deg, rgb(87, 188, 144) 0%, rgb(0119, 201, 212) 70%); color: #015249; text-shadow: 0px 2px 3px gray;">
        <MudList Clickable="@Clickable" Dense="@Dense" DisableGutters="@Gutters">
            <MudListItem Text="Single List Item" />
            <MudDivider />
            <MudListItem Text="Single List Item" />
            <MudDivider />
            <MudListItem Text="Single List Item" />
        </MudList>
    </MudPaper>
</MudItem>*@

@code {
    
}
